:host {
  display: block;
  padding-top: 70px; 
  background: rgb(16 20 27);
  min-height: 100vh;
}


.date-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

.date-buttons button {
  background-color: transparent;
  border: 1px solid #444;
  color: #ccc;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.date-buttons button:hover {
  border-color: #ff4444;
  color: #fff;
}

.date-buttons button.active {
  background-color: #e50914;
  color: white;
  border-color: #e50914;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(630px, 1fr));
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.movie-card {
  display: flex;
  background-color: rgb(16 20 27);
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  width: 100%;
  max-width: 630px;
  text-align: center;
  border: rgb(55 65 81) 1px solid;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.movie-info{
  display: flex !important;
  flex-direction: column;
  padding: 15px;
  flex: 1;
  text-align: left;
}



.movie-info p {
  margin: 0;
  padding: 6px 0 0 0;
  display: inline-block;  
  width: auto;
  background: transparent; 
  line-height: 1.2;
  vertical-align: middle;
}


.movie-card:hover img {
  transform: scale(1.08);
}


.movie-card img {
  width: 100%;
  max-height: 360px;
  max-width: 200px;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

}

.movie-card h3 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 4px;
}

