.app-news-section{
    max-width: 300px;
    max-height: 120px;
    padding-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;

}
.app-news-section img{
    /* padding: 10px; */
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    width: 100% ;
    height: 100%;

}

