.slider-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.sliders {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Tất cả ảnh chồng lên nhau */
.sliders img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Ảnh hiện tại */
.sliders img.active {
    opacity: 1;
    z-index: 1;
}
