/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth !important; */
    /* transition: scroll-behavior 1.7s ease-out; */
    /* background-color: rgb(29, 29, 29); */
}
body, html {
  background-color: rgb(29, 29, 29);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  /* overflow-y: scroll;           luôn có thanh cuộn */
  height: 100%;                 /* fix 1 số bug nhỏ */
  margin: 0;
  
}

.ncc_reveal {
  opacity: 1 !important;
  transform: translateY(80px);
  transition: all 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.ncc_reveal.active {
  opacity: 1 !important;
  transform: translateY(0);
}






app-movies-section img {
  transition: transform 0.4s ease;
}

app-movies-section:hover img {
  transform: scale(1.08);
}


